/* 버튼 CSS 정보 */
@use '@/styles/abstracts' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: none;
  border-radius: $radius-8;
  cursor: pointer;
  font-weight: 500;
  padding: 12px;
  height: 40px;
  min-width: 92px;
  font-size: $font-size;
}

/* button - primary */
.primary {
  background: $color-primary-dark;
  color: $color-white;

  &:hover {
    background: color-lighten($color-primary-dark, 8%);
  }

  &:active {
    background: color-darken($color-primary-dark, 10%);
  }
}

/* button - secondary */
.secondary {
  background: $color-primary-light;
  color: $color-txt;

  &:hover {
    background: color-lighten($color-primary-light, 8%);
  }

  &:active {
    background: color-darken($color-primary-light, 10%);
  }
}

/* button - danger */
.danger {
  background: $color-error;
  color: $color-txt;

  &:hover {
    background: color-lighten($color-error, 8%);
  }

  &:active {
    background: color-darken($color-error, 10%);
  }
}

/* button - success */
.success {
  background: $color-success;
  color: $color-txt;

  &:hover {
    background: color-lighten($color-success, 8%);
  }

  &:active {
    background: color-darken($color-success, 10%);
  }
}

.button:disabled {
  background: $color-disabled;
  cursor: not-allowed;
}