/* 버튼 CSS 정보 */
@use '@/styles/abstracts' as *;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-txt;
  background: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}


/**WIDTH**/
.w200 { width: 200px;}
.w250 { width: 250px;}
.w300 { width: 300px;}
.w350 { width: 350px;}
.w400 { width: 400px;}
.w450 { width: 450px;}
.w500 { width: 500px;}