/**
  가계부 > 목록 카드 컴포넌트 SCSS
 */
@use '@/styles/abstracts' as *;

.card {
  min-height: 202px;
  width: 100%;
  background: $color-base;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.cardHeader {
  position: relative;
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: $font-size-20;
  font-weight: 800;
  color: $color-white;
  justify-content: space-between;
}

.cardTitle {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.settingButton {
  @include flex-center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: $color-white;
  cursor: pointer;
  flex-shrink: 0;
  transition: all .2s ease;

  &:hover {
    background: rgba(255,255,255,.18);
  }

  &:active {
    transform: scale(.9);
  }
}

.green {
  background: $color-primary;
}

.orange {
  background: $color-orange;
}

.cardBody {
  padding: 14px 14px 8px;
  min-height: 110px;
}

.cardFooter {
  padding: 0 14px 14px;
  display: flex;
  justify-content: flex-end;
  color: $color-secondary;
  font-size: 14px;
  font-weight: 500;
}

.newCard {
  @include flex-center;
  width: 100%;
  height: 100%;
}

