/* INPUT을 감싸는 Wrapper 관련된  CSS 정보 */
@use '@/styles/abstracts/variables' as *;
@use 'sass:color';

/*======================
  🧩 Wrapper
=======================*/

.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  width: auto;
}

.fullWidth {
  width: 100%;
}

/*======================
  🏷️ label
=======================*/

.label {
  font-size: $font-size-15;
  font-weight: 400;
  color:$color-txt;
  text-align: left;
  vertical-align: middle;
  height: 22px;
}

.required {
  margin-left: 4px;
  color: $color-error;
  vertical-align:sub;
}

/* =========================
   💬 Message (helper / error)
========================= */

.message {
  font-size: $font-size-12;
  line-height: 1.4;
  color: $color-secondary;
  font-weight: 500;
  padding-left: 10px;
  text-align: left;
}

.errorMessage {
  color: $color-error;
}

