/**
  가계부 > 입력 Form 컴포넌트 SCSS
 */
@use '@/styles/abstracts/variables' as *;

.formSlot {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &.isHidden {
    visibility: hidden;
  }

  &.sm {
    width: 120px;
  }
  &.md {
    width: 180px;
  }
  &.lg {
    width: 260px;
  }
}