/** Auth Layout SCSS */
@use '@/styles/abstracts/variables' as *;
@use 'sass:color';

/** Auth AREA */
.loginPage {
  min-width: 80vh;
  min-height: 100vh;
  background: $color-primary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  box-sizing: border-box;
}


.logoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding:12px;
  gap:4px;
}
.logoCursor {
  cursor: pointer;
}

.logo {
  display: block;
  width: 200px;
  object-fit: contain;
}

.subTitle {
  margin-top:- 37px;
  font-size: $font-size-12;
  color: $color-txt;
  line-height: 1.2;
}

