<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 공통코드 Mapper -->
<mapper namespace="com.cshbk.cshmint.cmmn.code.mapper.CmmnCodeMapper">

  <!-- 공통코드 - 공통코드 목록 조회-->
  <select id="selectCmmnCodeList" parameterType="com.cshbk.cshmint.cmmn.code.vo.in.CmmnCodeInVo" resultType="com.cshbk.cshmint.cmmn.code.vo.out.CmmnCodeOutVo">
    <!--CmmnCodeMapper.selectCmmnCodeList-->
    SELECT
      C.CODE
    ,	C.CODE_NM
    ,	CD.DETAIL_CODE
    ,	CD.DETAIL_CODE_NM
    ,	CD.FLAG1
    ,	CD.FLAG2
    FROM TB_CODE_DETAIL CD
    INNER JOIN TB_CODE C
    ON CD.CODE  = C.CODE
    WHERE 1 = 1
    <if test='codeId != null and codeId == ""'>
      AND C.CODE = #{codeId}
    </if>
  </select>

</mapper>